@use "../base/_vars.scss" as *;

.services{
  margin-top: 60px;


  &__container{
    padding: 0 30px;
    @media screen and (min-width: 768px){
      padding: 0 60px;
    }
  }

  &__category{
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    position: relative;
    padding-right: 12px;

    &::after{
    content: "";
      display: block;
      width: 5px;
      height: 5px;
      border-top: 2px solid $active-r-color;
      border-right: 2px solid $active-r-color;
      transform: rotate(45deg);
      position: absolute;
      top: 5px;
      left: 75px;
    }
  }

  &__title{
    font-weight: 700;
    background: $gradient-text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media screen and (min-width: 768px){
      font-size: 38px;
    }
  }

  &__list{
    @media screen and (min-width: 768px){
      display: flex;
      flex-wrap: wrap;
      gap: 60px;
      margin-top: 60px;
    }
  }

  &__item{
    padding-top: 122px;
    margin: 30px 0;
    @media screen and (min-width: 768px){
      flex-basis: calc(50% - 30px);
    }
    @media screen and (min-width: 1024px){
      flex-basis: calc(32.2% - 30px);
    }

    &-title{
      font-weight: 700;
      color: $active-r-color;
      margin-bottom: 15px;
    }
    &-text{
      color: $basis-white;
    }
  }
}
.item-bg{
  &-one{
    background: url("../../svg/icon-1.svg") no-repeat;
  }
  &-two{
    background: url("../../svg/icon-2.svg") no-repeat;
  }
  &-three{
    background: url("../../svg/icon-3.svg") no-repeat;
  }
  &-four{
    background: url("../../svg/icon-4.svg") no-repeat;
  }
  &-five{
    background: url("../../svg/icon-5.svg") no-repeat;
  }
  &-six{
    background: url("../../svg/icon-6.svg") no-repeat;
  }
}